a.showMore {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  background: #f1f3f4;
  border: none;
  border-radius: 0;
  color: #656565;
  text-align: center;
  padding: 10px;
}
a.showMore:hover {
  color: #333;
}
a.showMore::after {
  content: "+ See all Reviews";
}
a.showMore.showLess::after {
  content: "- See all Reviews Less";
}
.accordion .card {
  border: none;
  margin-bottom: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  border-bottom: 0px;
}
.accordion .card:first-child {
  margin-top: 0px;
}
.accordion .card h2 {
  background: url("../images/up-arrow.png") no-repeat calc(100% - 17px) center;
  background-size: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  font-weight: 500;
}
.accordion .card h2.collapsed {
  background-image: url("../images/down-arrow.png");
}
.accordion .card-body {
  padding-left: 20px;
  padding-right: 10px;
  color: #626262;
  font-weight: 400;
  font-size: 14px;
}
.accordion .card-head {
  border: 1px solid #e4e5e5;
  background-color: #f1f3f4;
}
#full-stars-example .rating-group {
  display: inline-flex;
}
#full-stars-example .rating__icon {
  pointer-events: none;
}
#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}
#full-stars-example .rating__icon--star {
  color: orange;
}
#full-stars-example .rating__icon--none {
  color: #eee;
}
#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}
#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}
#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#full-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}
#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}
.reviewform {
  width: 90%;
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
}
.label-txt {
  color: rgb(120, 120, 120);
}
.input {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid #e1dfdf;
  outline: none;
  margin-bottom: 20px;
}
.subbutton {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: normal;
  background: #421f19;
  border: 2px solid #421f19;
  clear: both;
  text-transform: uppercase;
  display: block;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px 60px;
  margin: auto;
  margin-top: 30px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.subbutton:hover {
  color: #421f19;
  background: transparent;
  border: 2px solid #421f19;
}
.amazing-reviews {}
.amazing-reviews h2 {
  font-size: 16px;
  text-align: center;
  color: #154223;
  margin: 0px;
  padding: 0px;
}
.reviewsheader h3 {
  font-size: 16px;
  padding-bottom: 0px;
  color: #154223;
}
.reviewsheader > span {
  display: inline-block;
  font-size: 13px;
  color: #666565;
  padding-right: 10px;
}
.reviewsheader > span > i {
  color: #ff5722;
  width: 18px;
  padding-right: 16px;
}
.amazing-reviews blockquote > img {
  height: 60px;
  float: left;
}
.amazing-reviews blockquote h4 {
  float: right;
}
.amazing-reviews h4 i {
  font-size: 16px;
  padding-bottom: 0px;
  color: #ff9800;
}
.reviewsheader {
  float: left;
  padding: 6px 15px;
}
.amazing-reviews blockquote {
  padding: 0;
  background: #fff;
  margin: 0px 0 0 0;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  padding: 30px 0px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.amazing-reviews blockquote:last-child {
  border-bottom: 0px;
}
.a-button-text {
  border: 1px solid #e3e3e3;
  padding: 5px 18px;
  font-size: 13px;
  cursor: pointer;
  background-color: #fff;
}
.a-button-text:hover {
  background-color: #efefef;
  border: 1px solid rgb(207 205 205);
}
.best-before {
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 24px;
}
/*

.amazing-reviews blockquote:before {

    content: '';

    display: block;

    border: 19px solid transparent;

    border-bottom-color: #ccc;

    position: absolute;

    top: -39px;

    left: 20px;

    z-index: 250;

    background: transparent;

    height: 0;

    opacity: 1;

}

.amazing-reviews blockquote:after {

    content: '';

    display: block;

    border: 19px solid transparent;

    border-bottom-color: #fff;

    position: absolute;

    top: -38px;

    left: 20px;

    z-index: 999;

    background: transparent;

    height: 0;

    opacity: 1;

}

*/
.thumbicon {
  font-size: 25px;
  color: #333;
}
.thumbicon:hover {
  color: #000;
}
.amazing-reviews blockquote p {
  font-size: 13px;
  font-style: normal;
  margin: 5px 0 0 0;
  color: #3a3939;
  font-weight: 400;
  padding-left: 75px;
}
.check_pin {
  padding: 0px 12px;
}
.check_pin > h5 {
  font-size: 13px;
  color: #333;
}
.view-check {
  display: flex;
}
.picode_tag_btn {
  font-size: 13px;
  color: #421f19;
  font-weight: 500;
  background: #f1f3f4;
  border: 1px solid #e1dfdf;
  display: inline-block;
  height: 37px;
  border-radius: 5px;
  line-height: 33px;
  padding: 0px 20px;
  margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #b7b6b6;
}
.picode_tag_btn:hover {
  background-color: #f3f3f3;
  border: 1px solid rgb(207 205 205);
  color: #421f19;
}
.benefit-tab {}
.benefit-tab > li {
  list-style: none;
  line-height: normal;
  border-bottom: 1px solid #e1dfdf;
  padding: 10px 0px;
}
.benefit-tab > li > strong {
  font-weight: 500;
}
.benefit-tab > li:last-child {
  border-bottom: 0px;
}
.benefit-tab > li::before {
  content: "";
  background: #c7a34c;
  width: 5px;
  height: 5px;
  display: inline-block;
  line-height: 14px;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  font-size: 14px;
  border-radius: 100px;
  position: relative;
  top: -2px;
}
.tab {
  overflow: hidden;
  margin-top: 29px;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 22px;
  font-size: 15px;
  /* text-transform: uppercase; */
  font-weight: 500;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: 1px solid #e1dfdf;
  background: #f1f3f4;
  color: #333;
  border-right: 0px;
}
.tab button:last-child {
  border-right: 1px solid #e1dfdf;
}
.tab button:hover {
  background-color: #f1f3f4;
}
.tab button.active {
  background-color: #ffffff;
  color: #421f19;
  border-bottom: 1px solid #fff;
}
.tabcontent {
  display: none;
  padding: 30px 40px;
  border-top: none;
  background: #fff;
  border: 1px solid #e1dfdf;
  margin-top: -1px;
  font-size: 13px;
  font-weight: 400;
}

.tabcontent h3{
	    font-size: 14px;
    font-weight: 500;
}

.tabcontent p {
/*    border-bottom: 1px solid #ebebeb;*/
    margin: 0px;
    padding: 10px 0px;
    font-size: 14px;
    line-height: 17px;
}

/*
.tabcontent p:before {
    content: "\f046";
    font-family: 'FontAwesome';
    float: left;
    margin-left: 2px;
    color: #3b7c00;
    font-size: 14px;
    margin-right: 10px;
}
*/
.tabcontent p:last-child{
	 border-bottom: 0px;
}
.tabcontent > ul {
  display: inline-block;
  width: 100%;
}

.tabcontent > ul > li:before {
    content: "\f046";
    font-family: 'FontAwesome';
    float: left;
    margin-left: 2px;
    color: #3b7c00;
    font-size: 14px;
    margin-right: 5px;
}


.tabcontent > ul > li {
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0px;
	list-style: none;
}
.tabcontent > ul > li:last-child {
  border-bottom: 0px;
}
.tabcontent > p > strong {
  font-weight: 500;
}
#two > ul > li {
    border: 1px solid #e9e9e9;
    padding: 10px 10px;
    width: 49%;
    float: left;
    height: auto;
    margin: 8px 0px;
    list-style: none;
    margin-right: 10px;
    line-height: 22px;
    background: #fdfdfd;
    border-radius: 3px;
    text-align: left;
}
.tablinks2 {
  font-size: 20px;
  padding-bottom: 12px;
}
.tabcontent2 {
  padding: 30px 40px;
  border-top: none;
  background: #fff;
  border: 1px solid #e1dfdf;
  margin-top: -1px;
}
.tabcontent3 {
  padding: 30px 40px;
  border-top: none;
  background: #fff;
  border: 1px solid #e1dfdf;
  margin-top: -1px;
}
.top-innerbody {
  width: 100%;
  height: 160px;
  margin: 0;
  background: url(../images/about-bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.header_title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin: 0px;
  float: left;
  position: relative;
  top: -8px;
}
.breadcrumbs-right {
  float: right;
}
.header_title > span {
  background: #00bcd4;
  height: 2px;
  width: 47px;
  display: block;
  margin: 0px auto;
  margin-top: 15px;
}
.section-bg {
  padding: 100px 0px;
  padding-bottom: 0px;
}
#myCarousel {
  background: #fff;
  padding: 50px 0px;
  border: 1px solid #e1dfdf;
  border-bottom: 0px;
}
#myCarousel img {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #fff;
}
#thumbSlider {
  background: #fff;
  border: 1px solid #e1dfdf;
}
.thumb {
  border-right: 1px solid #e1dfdf;
  border-top: 0px;
  width: 33%;
}
.thumb:last-child {
  border-right: 0px solid #ccc;
}
#thumbSlider .carousel-inner {
  padding-left: 3rem;
  padding-right: 3rem;
}
#thumbSlider .carousel-inner .row {
  overflow: hidden;
}
#thumbSlider .carousel-inner .thumb:hover {
  cursor: pointer;
}
#thumbSlider .carousel-inner .thumb.active img {
  opacity: 1;
}
#thumbSlider .carousel-inner img {
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.5;
  width: auto;
  padding: 10px 0px;
}
#thumbSlider .carousel-inner img:hover {
  opacity: 1;
}
#thumbSlider .carousel-inner .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23000'%20viewBox='0%200%208%208'%3E%3Cpath%20d='M5.25%200l-4%204%204%204%201.5-1.5-2.5-2.5%202.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#thumbSlider .carousel-inner .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23000'%20viewBox='0%200%208%208'%3E%3Cpath%20d='M2.75%200l-1.5%201.5%202.5%202.5-2.5%202.5%201.5%201.5%204-4-4-4z'/%3E%3C/svg%3E");
}
/*======products-details=====*/
._product-detail-content {}
._product-detail-content p._p-name {
  color: #00370d;
  font-size: 23px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 12px;
  font-weight: 700;
}
._product-detail-content p._p-name span {
  display: block;
  font-size: 12px;
  padding: 10px 0px 0px 4px;
  font-weight: 500;
}
.p-list span {
  margin-right: 10px;
}
.p-list span.price {
  font-size: 26px;
  color: #3b7c00;
  font-weight: 600;
}
._p-qty > span {
  color: #333;
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
}
._p-qty .value-button {
  display: inline-flex;
  margin: 0px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #f1f3f4;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  color: #656565;
}
._p-qty .value-button:hover {
  background-color: #f3f3f3;
  border: 1px solid rgb(207 205 205);
}
._p-qty .value-button {
  font-size: 20px;
}
._p-qty input#number {
  text-align: center;
  border: none;
  border: 1px solid #d3d2d2;
  margin: 0px;
  width: 50px;
  height: 30px;
  font-size: 14px;
  position: relative;
  top: -3px;
}
._p-qty input#number:focus {
  outline: 0px;
}
._p-add-cart {
  margin-left: 0px;
  margin-bottom: 25px;
}
.p-list {
  margin-bottom: 10px;
}
._p-features {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
._p-features p {
  font-size: 13px;
}
._p-features > span {
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 10px 0px;
}

._p-add-cart .wishlist-btn {
  color: #fff;
  font-weight: 400;
  background: #154223;
  border: 2px solid #154223;
  clear: both;
  text-transform: uppercase;
  display: inline-block;
  width: 62px;
  height: 55px;
  border-radius: 0px 100px 100px 0px;
  padding: 5px 10px;
  font-size: 20px;
  line-height: normal;
  position: relative;
  top: 3px;
  left: -1px;
  cursor: pointer;
}
._p-add-cart .wishlist-btn:hover {
  color: #154223 !important;
  background: transparent;
  border: 2px solid #154223;
}
:focus{
  outline: 0;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

._p-add-cart .buy-btn {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: normal;
  background: #421f19;
  border: 2px solid #421f19;
  clear: both;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px 0px 0px 100px;
}
._p-add-cart .buy-btn:hover {
  color: #421f19;
  background: transparent;
  border: 2px solid #421f19;
}
._p-add-cart .btn-success {
  border: 2px solid #3b7c00;
  border-radius: 0px;
  font-size: 14px;
  background-color: #3b7c00;
}
._p-add-cart .btn-success:hover {
  color: #3b7c00;
  background: transparent;
  border: 2px solid #3b7c00;
}
._p-add-cart .btn {
  padding: 15px 20px;
  text-transform: uppercase;
  width: 43%;
}
._p-add-cart .btn {
  margin: 10px -1px;
}
.jzoom {
  position: absolute;
  top: 250px;
  left: 100px;
  width: 350px;
  height: 350px;
}
#jquery-script-menu {
  position: absolute;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #316594;
  background: #fff;
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
  z-index: 999999;
  padding: 10px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
.jquery-script-center {
  max-width: 960px;
  margin: 0 auto
}
.jquery-script-center ul {
  width: 212px;
  float: left;
  line-height: 45px;
  margin: 0;
  padding: 0;
  list-style: none
}
.jquery-script-center a {
  text-decoration: none
}
.jquery-script-ads {
  max-width: 728px;
  height: 90px;
  float: right
}
.jquery-script-clear {
  clear: both;
  height: 0
}
#carbonads {
  display: block;
  overflow: hidden;
  max-width: 728px;
  position: relative;
  font-size: 22px;
  box-sizing: content-box
}
#carbonads > span {
  display: block
}
#carbonads a {
  color: #4078c0;
  text-decoration: none
}
#carbonads a:hover {
  color: #3664a3
}
.carbon-wrap {
  display: flex;
  align-items: center
}
.carbon-img {
  display: block;
  margin: 0;
  line-height: 1
}
.carbon-img img {
  display: block;
  height: 90px;
  width: auto
}
.carbon-text {
  display: block;
  padding: 0 1em;
  line-height: 1.35;
  text-align: left
}
.carbon-poweredby {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 8px;
  border-top-left-radius: 4px;
  line-height: 1;
  color: #aaa !important
}
@media only screen and (min-width:320px) and (max-width:759px) {
  .carbon-text {
    font-size: 14px
  }
}
@media only screen and (max-width:1023px) {
  .jquery-script-ads {
    display: none
  }
}